@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --primary: 262 83% 58%;
  --primary-foreground: 0 0% 100%;

  --border: 214.3 31.8% 91.4%;
}

.dark {
  --background: 222 84% 5%;
  --foreground: 210 40% 98%;

  --card: 222 84% 7%;
  --card-foreground: 210 40% 98%;

  --primary: 262 83% 65%;
  --primary-foreground: 0 0% 100%;

  --border: 217 32% 17%;
}